@import "tailwindcss";

.toast {
  transition-duration: 0.3s;
  background-color: #00379c75;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 10px 15px;
  border-radius: 8px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: #0148ca;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

label {
  font-size: 14px;
  color: #00379c;
}

input {
  border: none;
  font-weight: bold;
  background-color: inherit;
  font-size: 13px;
  color: #00379c;
}

svg {
  width: 25px;
  height: 20px;
}

button {
  margin-top: 10px;
  border: none;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #00379c;
  background-color: white;
  border-radius: 8px;
  transition-duration: 0.3s;
}

button:hover {
  color: white;
  background-color: #00379c;
}

p {
  text-align: center;
  font-size: 12px;
}

b {
  cursor: pointer;
  color: #00379c;
}

b:hover {
  text-decoration: underline;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 80%;
}

.formContainer {
  background-color: #00215e;
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  min-width: 300px;
  height: 15%;
  background-color: #00215e; /* Changed from red to main blue */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.logo {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.cuerpo {
  width: 100%;
  min-width: 300px;
  height: 85%;
  background-color: purple;
}

.welcomeContainer {
  width: 100%;
  height: 100%;
}

.profilePhoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 5px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.profileLogginButton {
  width: 50%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
  background-color: #00215e;
  width: 50%;
  justify-content: center;
}

.menu a {
  color: #00379c;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.2s;
}

.menu a:hover {
  color: #ffcc00;
}

.menu .search-icon {
  background: #00379c;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .search-icon svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
